*{
    box-sizing: border-box;
}

body {
    color: black;
    margin:0;
    cursor: url('./telescope-cursor.png'), auto;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: transparent;
    cursor: default;
}

#header-img {
    display: inline-block;
}

#header-img img{
    height: 60px;
    width: 80px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#nav-bar{
    position: absolute;
    width: 90%;
    display: inline-block;
}

#nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-link{
    float: right;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.nav-link:hover{
    background-color: black;
    color: white;
    transition: all 0.3s ease 0s;
}

#nav-bar a:hover{
    color: white;
}

.video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 98.7vw;
}
.video-wrapper video {
	height: 100vh;
	width: 98.7vw;
	object-fit: cover;
	overflow: hidden;
}

.main-page {
	color: whitesmoke;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 60%;
	margin: auto;
}
.main-page h1 {
	font-size: 3.5rem;
	font-weight: 900;
	text-transform: uppercase;
}
.main-page h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
}

#box1 {
    background-size:cover;
    height: 100vh;
    width: 98.7vw;
    display:table;
}

#box2 {
    background-image:url(sky.jpg); 
    background-size: cover;
    height: 100vh;
    width: 98.7vw;
    display:table;
    color: white;
}

#box3 {
    background-image:url(sky2.jpg); 
    background-size: cover;
    height: 100vh;
    width: 98.7vw;
    display:table;
    color: white;
}

#box4 {
    background-image:url(telephone.jpg); 
    background-size: contain;
    height: 100vh;
    width: 98.7vw;
    display:table;
    color: white;
}

.scroll {
    background-image:
    radial-gradient(
      circle at 0% 100%,
      red 0%,
      cyan 40%,
      rebeccapurple 100%
    );
}

#video {
    display: inline-block;
}

#video video{
    overflow: hidden;
    height: 80vh;
    margin-left: 5vw;

}

.content {
    display: inline-block;
	color: black;
    text-align: center;
    width: 50%;
    margin-top: 100px;
    transform: translate(20%, 0%);
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
    -moz-backdrop-filter: blur(0.5em);
}

.content h5 {
    font-size: 2rem;
    margin: 0;
    color: black;
}

.content p {
    font-size: 1.5rem;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 100px;
}

.flex-item {
    background: transparent;
    border: 3px dashed bisque;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    font-size: 1.75rem;
    color: rgba(26, 26, 26, 1);
    text-align: center;
    backdrop-filter: blur(0.02em);
    -webkit-backdrop-filter: blur(0.02em);
    -moz-backdrop-filter: blur(0.02em);
}

.flex-item h4{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    color: bisque;
}

.content1 {
    display: inline-block;
	color: bisque;
    text-align: center;
    width: 50%;
    margin-top: 100px;
    transform: translate(50%, 30%);
    backdrop-filter: blur(0.5em);
    -webkit-backdrop-filter: blur(0.5em);
    -moz-backdrop-filter: blur(0.5em);
}

.content1 h5 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

.content1 p {
    font-size: 1.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 580px) {

    .video-wrapper {
        width: 100vw;
    }

    .video-wrapper video {
        width: 100vw;
    }
    
    .main-page {
        left: 50%;
    }
    
    .main-page h1{
        font-size: 2rem;
    }
    
    .main-page h2{
        font-size: 1.5rem;
    }

    header{
        width: 100vw;
    }
    
    #nav-bar {
        width: 80vw;
    }

    .nav-link {
        padding: 0.25rem;
        font-size: 1rem;
    }

    #header-img img{
        height: 30px;
        width: 30px;
        margin-left: 20px;
    }
    
    .content h5{
        font-size: 1.5rem;;
    }
    
    .content p {
        font-size: 1rem;
    }
    
    .content1 h5{
        font-size: 1.5rem;;
    }
    
    .content1 p {
        font-size: 1rem;
    }

    #video {
        height: 80vh;
        width: 38vw;
        overflow: hidden;
        transform: translate(10%,0%);
    }

    #video video {
        height: 80vh;
        width: 50vw;
        margin-left: 0;
    }

    .flex-item {
        font-size: 1rem;
        height: 250px;
        margin-bottom: 20px;
    }

    .flex-item h4 {
        font-size: 1.5rem;;
    }
    
    #box2{
        background-size: cover;
        width: 100vw;
    }
    
    #box3 {
        background-size: cover;
        width: 100vw;
    }
    
    #box4 {
        background-size: cover;
        width: 100vw;
    }

}